$size-5: 1.15rem !default;
$radius: 3px !default;

$red-lighter: change-color($red, $lightness: 95%) !default;
$grey-lightest: #efefef !default;

$danger-lighter: $red-lighter !default;
$link: $primary !default;
$text: $black !default;
$text-strong: $black !default;
$text-lighter: change-color($text, $lightness: 40%) !default;

$label-color: $text !default;
$input-color: $text !default;
$input-border-color: transparentize($primary, 0.5) !default;
$input-hover-border-color: $primary !default;
$input-shadow: none !default;
$button-focus-box-shadow-size: 0 !default;
$button-focus-box-shadow-color: none !default;
$button-ghost-hover-decoration: none !default;
$box-shadow: 0 0 1em 0.125em transparentize($black, 0.6);
$help-size: 0.9rem;

$custom-colors: (
  "danger-lighter": ($danger-lighter, $black),
  "grey-lightest": ($grey-lightest, $black)
);

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";

@function to-rgb($color) {
  @return red($color), green($color), blue($color);
}

// Export SCSS vars to CSS for theming
:root {
  --join-page-bg: url(~/assets/client/img/join-bg.jpg) #{$grey-lighter};
  --radius: #{$radius};

  --input-focus-box-shadow-size: #{$input-focus-box-shadow-size};
  --input-focus-box-shadow-color: #{$input-focus-box-shadow-color};

  @each $name, $pair in $colors {
    --c-#{$name}: #{nth($pair, 1)};
    --c-#{$name}-rgb: #{to-rgb(nth($pair, 1))};
  }
  @each $name, $color in $shades {
    --c-#{$name}: #{$color};
    --c-#{$name}-rgb: #{to-rgb($color)};
  }
}

body.has-js .hidden-js,
body.no-js .hidden-nojs {
  display: none !important;
}

input[type=radio] {
  vertical-align: center;
}

.button {
  font-weight: bold;

  @each $name, $pair in $colors {
    &.is-#{$name}.is-outlined:hover {
      color: nth($pair, 1);
      background-color: transparentize(nth($pair, 1), 0.9);
    }
  }
}

.checkbox {
  display: inline-flex;
  align-items: flex-start;

  & > input {
    margin-top: 0.2rem;
    margin-right: 0.4rem;
  }
}

.input.is-danger {
  background-color: $danger-lighter;
}

.label:not(:last-child) {
  margin-bottom: 0;
}

.field:not(:last-child) {
  margin-bottom: 1.25rem;
}

.has-text-lighter {
  color: $text-lighter;
}
