:root {
  --b-cable-maincolor: #048ba8;
  --b-cable-maincolor-rgb: 4, 139, 168;
  --b-cable-altcolor: #024d5d;
  --b-cable-altcolor-rgb: 2, 77, 93;
  --b-cable-textcolor: #333;
  --b-cable-textcolor-rgb: 51, 51, 51;
  --main-font: "HK Grotesk", Roboto, Helvetica, Arial, sans-serif;
  --title-font: "Rubik", Roboto, Helvetica, Arial, sans-serif;
  --number-font: "Rubik", Roboto, Helvetica, Arial, sans-serif;
}

html {
  background: var(--b-lightgray) url("../img/AGM19_IMG_7049-┬®ChelseyCliff-tight-crop-1900x1080.jpg")
              no-repeat center center;
  background-size: cover;
}

body {
  color: var(--b-cable-textcolor);
  font-family: var(--main-font);
}

a {
  color: var(--b-cable-maincolor);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--title-font);
  font-weight: 600;
}

label,
.button,
.button__text,
.input  {
  color: var(--b-cable-textcolor);
}

.button {
  color: #fff;
  background-color: rgba(var(--b-cable-maincolor-rgb), 0.7);
}

.button:hover {
  background-color: rgba(var(--b-cable-maincolor-rgb), 1);
}

.button.hollow {
  color: rgba(var(--b-cable-maincolor-rgb), 0.7);
  border-color: rgba(var(--b-cable-maincolor-rgb), 0.2);
}

.button.hollow:hover {
  color: rgba(var(--b-cable-maincolor-rgb), 1);
  border-color: rgba(var(--b-cable-maincolor-rgb), 0.5);
}

.button.hollow.active {
  color: rgba(var(--b-cable-textcolor-rgb), 1);
  background-color: rgba(var(--b-cable-maincolor-rgb), 0.1);
  border-color: rgba(var(--b-cable-maincolor-rgb), 1);
}

.button__text {
  color: rgba(var(--b-cable-textcolor-rgb), 0.4);
  background-color: transparent;
}

.button__text:hover {
  background-color: transparent;
}

.stacked-button-group,
.stacked-button-group p {
  border-color: rgba(var(--b-cable-maincolor-rgb), 0.2);
}

.input::placeholder {
  color: rgba(var(--b-cable-textcolor-rgb), 0.4);
}

.input {
  border-color: rgba(var(--b-cable-textcolor-rgb), 0.2);
}

.input:focus {
  color: rgba(var(--b-cable-maincolor-rgb), 1);
  box-shadow: 0 0 0 2px rgba(var(--b-cable-maincolor-rgb), 0.25);
  border-color: rgba(var(--b-cable-maincolor-rgb), 1);
}

.input.active {
  color: rgba(var(--b-cable-maincolor-rgb), 1);
  border-color: rgba(var(--b-cable-maincolor-rgb), 1);
}

#signup {
  box-shadow: 0 0 15px rgba(var(--b-cable-textcolor-rgb), 0.5);
}

nav li .button__text {
  color: rgba(var(--b-cable-textcolor-rgb), 0.6);
  border-color: rgba(var(--b-cable-textcolor-rgb), 0.2);
}

nav li .button__text:hover {
  color: var(--b-cable-maincolor);
  border-bottom-color: rgba(var(--b-cable-maincolor-rgb), 0.6);
}

nav li .button__text.active {
  color: var(--b-cable-maincolor);
  border-color: var(--b-cable-maincolor);
}

#amount p.set-amount {
  font-family: var(--number-font);
  font-weight: 600;
}

#amount p.set-amount #custom-amount {
  color: var(--b-cable-maincolor);
  letter-spacing: 0;
}

#amount p.set-amount .placeholder-currency,
#amount p.set-amount .placeholder-regularity {
  color: rgba(var(--b-cable-textcolor-rgb), 0.2);
}

#amount p.set-amount .amount-controls {
  border-left-color: rgba(var(--b-cable-textcolor-rgb), 0.4);
}

#amount p.set-amount .amount-controls .button {
  color: rgba(var(--b-cable-textcolor-rgb), 0.5);
}

#amount p.set-amount .amount-controls .button:hover {
  color: rgba(var(--b-cable-maincolor-rgb), 1);
}

#amount p.set-amount .amount-controls .button:first-child {
  border-bottom-color: rgba(var(--b-cable-textcolor-rgb), 0.4);
}

#amount div.other-amounts .button.hollow:hover {
  background-color: rgba(var(--b-cable-maincolor-rgb), 0.2);
}

#payment div.card {
  border-color: rgba(var(--b-cable-textcolor-rgb), 0.4);
}

#payment p.radio input[type=radio]:checked + label {
  color: var(--b-cable-maincolor);
}
