@charset "utf-8";
@import "~bulma/sass/utilities/_all";

// Beabee colors

$darkblue: #262453;
$warmyellow: #f5cc5b;
$maingreen: #43a796;
$orange: #eda63b;

// Update Bulma's global variables
$family-primary: "Open Sans", Roboto, Helvetica, Arial, sans-serif;
$familysecondary: "Rounded Mplus", Roboto, Helvetica, Arial, sans-serif;

$primary: $maingreen;
$text: $darkblue;
$title-color: $darkblue;
$link: $maingreen;

// Update Bulma's variables

$radius: 3px;
$input-color: $darkblue;
$input-shadow: none;
$button-color: $white;
$button-hover-color: $white;
$button-background-color: $maingreen;
$button-border-color: transparent;
$button-focus-color: $maingreen;
$button-focus-box-shadow-size: 0;
$button-focus-box-shadow-color: none;
$button-ghost-hover-decoration: none;
$label-color: $darkblue;
$card-shadow: 0;
$card-radius: $radius;
$card-header-shadow: 0;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";
