@charset "utf-8";

body.has-js .hidden-js,
body.no-js .hidden-nojs {
  display: none !important;
}

input[type=radio] {
  vertical-align: center;
}

.button {
  font-weight: bold;
}

.checkbox {
  display: inline-flex;
  align-items: flex-start;

  & > input {
    margin-top: 0.1rem;
    margin-right: 0.4rem;
  }
}

.input.is-danger {
  background-color: var(--c-danger-lighter);
}
