:root {
  --b-darkblue: #262453;
  --b-darkblue-rgb: 38, 36, 83;
  --b-warmyellow: #f5cc5b;
  --b-maingreen: #43a796;
  --b-maingreen-rgb: 67, 167, 150;
  --b-orange: #eda63b;
  --b-greenblue: #136872;
  --b-flashgreen: #27c34e;
  --b-lightgray: #efefef;
  --main-font: "Open Sans", Roboto, Helvetica, Arial, sans-serif;
  --number-font: "Rounded Mplus", Roboto, Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  background-color: var(--b-lightgray);
}

body {
  color: var(--b-darkblue);
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.3;
}

a {
  color: var(--b-maingreen);
}

img {
  display: block;
  width: 100%;
  height: auto;
  vertical-align: middle;
}

/* Typography
*/

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

h1 { font-size: 3rem; }
h2 { font-size: 2.5rem; }
h3 { font-size: 2rem; }
h4 { font-size: 1.5rem; }
h5 { font-size: 1.25rem; }
h6 { font-size: 1rem; }

h1:not(:last-child),
h2:not(:last-child),
h3:not(:last-child),
h4:not(:last-child),
h5:not(:last-child) {
  margin-bottom: 1rem;
}

p.highlight {
  font-size: 115%;
  font-weight: 300;
}

.text-center {
  text-align: center;
}

label,
.label {
  font-size: 0.8125rem;
  font-weight: 700;
}


/* General form elements
  Labels
  Buttons
  Inputs: text, radio, checkbox
*/

fieldset {
  border: 0;
}

label,
.label {
  color: var(--b-darkblue);
  display: block;
  padding-bottom: 0.5em;
}


.button,
.input {
  color: var(--b-darkblue);
  background-color: #fff;
  font-size: 1rem;
  line-height: 1.5;
  height: 2.5em;
  border: 1px solid rgba(var(--b-darkblue-rgb), 0.2);
  border-radius: 3px;
  box-shadow: none;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button {
  font-weight: 700;
  justify-content: center;
  padding: calc(0.5em - 1px) 1em;
  text-align: center;
  white-space: nowrap;
  transition: all 0.2s ease-out;
}

.button:hover {
  color: rgba(var(--b-darkblue-rgb), 1);
  border-color: rgba(var(--b-darkblue-rgb), 0.5);
}

.button:focus {}

.button:focus:not(:active) {}

.button:active {
  color: rgba(var(--b-darkblue-rgb), 1);
  border-color: rgba(var(--b-darkblue-rgb), 1);
}

.button.is-dark {
  color: #fff;
  background-color: rgba(var(--b-darkblue-rgb), 0.7);
}

.button.is-dark:hover {
  background-color: rgba(var(--b-darkblue-rgb), 1);
}

.button.active {
  color: rgba(var(--b-darkblue-rgb), 1);
  font-weight: 700;
  background-color: rgba(var(--b-maingreen-rgb), 0.1);
  border-color: rgba(var(--b-maingreen-rgb), 1);
}

.button.is-text {
  color: rgba(var(--b-darkblue-rgb), 0.4);
  border-radius: 0;
  background-color: transparent;
}

.button.is-text:hover {
  background-color: transparent;
}

.button__icon {
  padding: 0.25rem;
}

.button.is-small {
  font-size: 0.85rem;
  height: 2em;
}

.button.is-fullwidth {
  width: 100%;
  margin-bottom: 0.5rem;
}

.control.is-expanded .button {
  width: 100%;
}

.stacked-button-group {
  display: flex;
  justify-content: flex-start;
  border-radius: 3px;
  border: 1px solid rgba(var(--b-darkblue-rgb), 0.2);
}

.stacked-button-group p {
  border-top: 1px solid rgba(var(--b-darkblue-rgb), 0.2);
}

.stacked-button-group p:first-child {
  border-top: 0;
}

.stacked-button-group p .button {
  border: 0;
  border-radius: 0;
}

.stacked-button-group p:first-child .button {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.stacked-button-group p:last-child .button {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

input[type="number"],
button.number {
    font-family: var(--number-font);
    font-weight: 700;
    letter-spacing: -1px;
}

.input::placeholder {
  color: rgba(var(--b-darkblue-rgb), 0.4);
}

.input {
  box-shadow: inset 0 .0625em .125em var(--b-lightgray);
  max-width: 100%;
  width: 100%;
  padding-left: 0.45em;
  padding-right: 0.45em;
}

.input:focus {
  box-shadow: 0 0 0 2px rgba(var(--b-maingreen-rgb), 0.25);
  border-color: rgba(var(--b-maingreen-rgb), 1);
}

.input.active {
  color: rgba(var(--b-maingreen-rgb), 1);
  border-color: rgba(var(--b-maingreen-rgb), 1);
}

.checkbox,
.radio {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.checkbox {
  align-items: start;
}

.radio {
  align-items: center;
}

.checkbox input[type="checkbox"],
.checkbox input[type="radio"] {
  cursor: pointer;
}

.checkbox label,
.radio label {
  padding-bottom: 0;
  font-weight: 400;
}

.checkbox input + label,
.radio input + label {
  margin-left: 0.5em;
}

/* Signup form layout
*/

.form-wrapper {
  width: 32em;
  margin: 1em auto;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 15px rgba(var(--b-darkblue-rgb), 0.5);
}

@media screen and (max-width: 700px) { /* small screens only */

  .form-wrapper {
    width: 100%;
    margin: 0.5em auto;
  }

}

.block {
  padding: 0 2em;
}

.block:not(:last-child) {
  margin-bottom: 1.5rem;
}

.block header {
  padding-bottom: 0.5em;
}

.main-header {
  padding-top: 2em;
}

.main-header hgroup {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 60px 1fr;
  align-items: center;
  margin-bottom: 0.75rem;
}

.main-header hgroup h1 {
  margin-bottom: 0;
}

.main-header hgroup h2 {
  font-size: 1.5rem;
}

.main-header .intro p {
  margin-top: 0.5rem;
}

.main-header--dark-bg {
  color: #fff;
  background-color: var(--b-maingreen);
}

nav ul {
  display: flex;
}

nav li {
  color: rgba(var(--b-darkblue-rgb), 0.4);
  list-style-type: none;
  flex-grow: 1;
}

nav li .button.is-text {
  width: 100%;
  border: 0;
  border-bottom: 1px solid rgba(var(--b-darkblue-rgb), 0.2);
  transition: 0.2s all ease-in;
  padding-left: 0;
  padding-bottom: 2px;
  justify-content: flex-start;
}

nav li .button.is-text:hover {
  color: var(--b-maingreen);
  border-bottom-color: rgba(var(--b-maingreen-rgb), 0.6);
}

nav li .button.is-text.active {
  color: var(--b-maingreen);
  font-weight: 700;
  border-bottom: 3px solid var(--b-maingreen);
}

#footer {
  padding-top: 2em;
  padding-bottom: 2em;
}

#amount {
  display: grid;
  grid-gap: 1.5em;
  grid-template-columns: 0.7fr 0.3fr;
  align-items: stretch;
}

#amount p.set-amount {
  position: relative;
  height: 100%;
  font-family: var(--number-font);
  font-weight: 700;
  margin-bottom: 0;
}

#amount p.set-amount #custom-amount {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;

  font-size: 5rem;
  line-height: 1;
  font-weight: 300;
  letter-spacing: -0.5rem;
  width: 100%;
  height: 100%;
  padding: 0.5rem 3rem 0.5rem 2rem;
}

#amount p.set-amount input#custom-amount::-webkit-inner-spin-button,
#amount p.set-amount input#custom-amount::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

#amount p.set-amount .placeholder-currency,
#amount p.set-amount .placeholder-regularity {
  color: rgba(var(--b-darkblue-rgb), 0.2);
  pointer-events: none;
  position: absolute;
  top: 0;
  bottom: 0;
  display: inline-flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-bottom: 2rem;
}

#amount p.set-amount .placeholder-currency {
  width: 2rem;
}

#amount p.set-amount .placeholder-regularity {
  left: 9rem;
}

#amount p.set-amount .amount-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
  border-left: 1px solid rgba(var(--b-darkblue-rgb), 0.4);
}

#amount p.set-amount .amount-controls .button {
  width: 2.5rem;
  height: calc(100% - 2em);
  color: rgba(var(--b-darkblue-rgb), 0.5);
  background-color: transparent;
  border-radius: 0;
  cursor: pointer;
}

#amount p.set-amount .amount-controls .button:hover {
color: rgba(var(--b-maingreen-rgb), 1);
}

#amount p.set-amount .amount-controls .button:first-child {
  border-bottom: 1px solid rgba(var(--b-darkblue-rgb), 0.4);
}

#amount div.other-amounts {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#amount div.other-amounts p {
  margin: 0;
  height: 100%;
}
#amount div.other-amounts .button {
  width: 100%;
  height: 100%;
}

#amount div.other-amounts .button:hover {
  background-color: rgba(var(--b-maingreen-rgb), 0.2);
}

#account-data header h5 {
  margin-bottom: 0;
}

#account-data fieldset p:not(:last-child) {
  margin-bottom: 1rem;
}

#payment div.card {
  padding: 0.75rem 0.5rem;
  border-bottom: 1px solid rgba(var(--b-darkblue-rgb), 0.4);
}

#payment div.card.active {
  background-color: var(--b-lightgray);
}

#payment div.card div.collapsible-card p:first-child {
  line-height: 1;
  margin-bottom: 1rem;
}

#payment div.card div.collapsible-card p small {
  font-weight: 700;
}

#payment div.card div.collapsible-card {
  transition: opacity 1s ease-out; /* trying this https://stackoverflow.com/a/3332179 */
  opacity: 0;
  height: 0;
  overflow: hidden;
}

#payment div.card.active div.collapsible-card {
  opacity: 1;
  height: auto;
}

#payment div.card p.card-header {
  margin-bottom: 0;
}

#payment div.card div.collapsible-card p {
  margin-top: 0.5em;
}

#payment p label i {
  margin-right: 0.25em;
}

#payment p.radio {
  display: grid;
  grid-gap: 0.5em;
  grid-template-columns: 1fr auto;
}

#payment p.radio input {
  grid-column: 2 / span 1;
  grid-row-start: 1;
}

#payment p.radio label {
  font-size: 1rem;
  margin-left: 0;
  grid-column: 1 / span 1;
  grid-row-start: 1;
}

#payment p.radio input[type=radio]:checked + label {
  font-weight: 700;
  color: var(--b-maingreen);
}

/* Account setup
*/

.header--flex {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.header__actions {
}

.review-field {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: minmax(100px, 0.25fr) 1fr;
  align-items: baseline;
  margin-bottom: 0;
}

.review-field__value {
  font-size: 1rem;
  font-weight: 400;
}
