@charset "utf-8";

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";

.button-stack {
    display: flex;
    flex-direction: column;

    .button:not(:first-child) {
        border-top: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .button:not(:last-child) {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}
